# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local project files
desktop.ini
RESUMEPALLAVISANDILYADA.*
AbhinavKumar_Resume.*
read_pdf.py
links.txt
image.jpeg
example image.png
